@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-Galactic Fruit-dark text-Galactic Fruit-text antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-Galactic Fruit-dark;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-Galactic Fruit-panel rounded-full border border-Galactic Fruit-dark;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-Galactic Fruit-muted;
  }
}
